@model CareerStories.Models.StoriesCreateViewModel
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Careers", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Write your story.  Stories should be descriptive and give others inside information about your career.</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Title)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Education, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Education, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Education)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Company, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Company, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Company)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Salary, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Salary, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Salary)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Location, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Location)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Story, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Story, htmlAttributes: new { @class = "form-control", style = "width: 85%; max-width: 85%;", rows = 25 }) 
            @Html.ValidationMessageFor(model => model.Story)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary btn-large" value="Create" />
        </div>
    </div>                     
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}