@model CareerStories.Models.CareersViewModel

@{
    ViewBag.Title = "Careers";
}
<div class="jumbotron">
    <p>
        @Html.ActionLink("New Story", "Create", "Careers", null, new { @class = "btn btn-primary btn-large" })
        <!--Difference between actionlink and routelink: http://stackoverflow.com/questions/864827/whats-the-difference-between-routelink-and-actionlink-in-asp-net-mvc-->
        @*@Html.DropDownListFor(model => model.CareerName, Model.Careers) uses the viewmodel*@
        @using (Html.BeginForm("Index", "Careers"))            
        {
            @Html.DropDownList("careersList", null, new { @onchange = "this.form.submit()" })
            @Html.AntiForgeryToken()
        }         
    </p>
    <p>
        @*<img src="@Url.Content(Model.ImageUrl)" alt=""> the url.content breaks page if imageurl is null (contentpath).  maybe dont use imageurl*@
        @*@@Html.Raw(Model.Description)*@
    </p>
</div> 
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Career</th>
                <th>Title</th>
                <th>User</th>
                <th>Comments</th>
            </tr>
        </thead>
        @{
            if (ViewBag.careerStoriesList.Count == 0)
            {
                <p>There are currently no stories for this career.  Be the first!</p>
            }
        }

        @foreach (var item in ViewBag.careerStoriesList as List<CareerStories.Models.Stories>)
        {          
            <tr>
                <td>
                    @item.CareerName
                </td>
                <td>
                    @Html.ActionLink(item.Title, "Story", "Careers", new { Id = item.Id }, null /* html attributes */)
                </td>
                <td>
                    @item.Username
                </td>
                <td>
                    <span class="badge">@item.PostCount</span>                   
                </td>
            </tr>
                
        }
    </table>
</div>


