@model CareerStories.Models.CareersViewModel

@{
    ViewBag.Title = "Careers";
}

<div class="jumbotron">
    <p>
        Careers:
        @Html.DropDownListFor(model => model.CareerName, Model.Careers)
        @*@foreach (var item in Model)
        {
            <table>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CareerName)
                    </td>
                </tr>
            </table>
        }*@
    </p>
    <input id="searchInput" name="careerSearch" type="text">
    <a href="http://www.google.com" class="btn btn-primary btn-large">Search</a> <br />

  @* @using (Html.BeginForm("Create", "Careers"))
    {
        USE PARTIAL VIEWS TO BECAUSE YOU CANT USE IENUMERABLE AND REGULAR MODEL. 
       @Html.ValidationSummary(true) <!-- Theres other validation message stuff watch lynda 6.1-->
        
       @Html.EditorFor(model => model.CareerName)
       @Html.ValidationMessageFor(model => model.CareerName)
         
       <input type="submit" class="btn btn-primary btn-large" value="Create" />
    }*@
    <p>@ViewBag.Message</p>
    <p>
        <img src="http://www.laspalomasrestaurant.com/wp-content/uploads/2015/03/adminassistant.jpg" alt="">
        Administrative Assistants assist executives in day to day tasks.
    </p>
    <p><h1>Stories:</h1></p>
    <div class="row">
        <div class="col-md-2">
            <p>11 stars</p>
            <p>3 stars</p>
            <p>2 stars</p>
        </div>
        <div class="col-md-2">
            <p>Being an administrative assistant is hard...</p>
            <p>The boss can be hard to deal with...</p>
            <p>There is no future in this career...</p>
        </div>
        <div class="col-md-2">
            <p>15 comments</p>
            <p>11 comments</p>
            <p>9 comments</p>
        </div>
    </div>
</div>