@model CareerStories.Models.StoriesViewModel
@{
    ViewBag.Title = "Story";
}

<div class="jumbotron">
    @Html.Raw(Model.Title) <br />
    @Html.Raw(Model.Education) <br />
    @Html.Raw(Model.Company) <br />
    @Html.Raw(Model.Story) <br />
    @Html.Raw(Model.PostDate) <br />
</div>