@model CareerStories.Models.StoriesViewModel
@{
    ViewBag.Title = "Story";
}

<div class="jumbotron">
    @Html.Raw(Model.CareerName) <br />
    @Html.Raw(Model.Title) <br />
    written by: @Html.Raw(Model.Username) <br />
    @Html.Raw(Model.Education) <br />
    @Html.Raw(Model.Company) <br />
    @Html.Raw(Model.Salary) <br />
    @Html.Raw(Model.Location) <br />
    @Html.Raw(Model.Story) <br />
    @Html.Raw(Model.PostDate) <br />
    Comments: <br />
    @foreach (var item in ViewBag.PostsList)
    {
        <table>
            <tr>
                <td>
                    @item.PostDate
                </td>
                <td>
                    written by: @item.Username
                </td>
                <td>
                    @item.Post
                </td>
            </tr>
        </table>
    }

    @using (Html.BeginForm("Story", "Careers"))
    {       
        var PostsViewModel = new CareerStories.Models.PostsViewModel();
        @Html.Partial("_PostComment", PostsViewModel)
        @Html.AntiForgeryToken()
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
