@model CareerStories.Models.StoriesViewModel
@{
    ViewBag.Title = Model.Title;
}
<div class="well">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <h4>@Html.Raw(Model.Title)</h4>
            </div>
        </div><br />
        <div class="row">
            <div class="col-md-6">
                By: <strong>@Html.Raw(Model.Username)</strong>
            </div>
            <div class="col-md-6">
                @Html.Raw(Model.PostDate)
            </div>
        </div><br />
        <div class="row">
            <div class="col-md-6">
                <u>Education</u>: @Html.Raw(Model.Education)
            </div>
            <div class="col-md-6">
                <u>Company</u>: @Html.Raw(Model.Company)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <u>Salary</u>: @Html.Raw(Model.Salary)
            </div>
            <div class="col-md-6">
                <u>Location</u>: @Html.Raw(Model.Location)
            </div>
        </div><br />
        <div class="row">
            <div class="col-md-12">
                @Html.Raw(Model.Story.Replace(Environment.NewLine, "<br />"))
            </div>
        </div>
    </div>
</div>

<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Comment</th>
            <th>User</th>
            <th>Date</th>
        </tr>
    </thead>
    @foreach (var item in ViewBag.PostsList)
    {

        <tr>
            <td>
                @item.Post
            </td>
            <td>
                <strong>@item.Username</strong>
            </td>
            <td>
                @item.PostDate
            </td>
        </tr>

    }
</table>
@using (Html.BeginForm("Story", "Careers"))
{
    var PostsViewModel = new CareerStories.Models.PostsViewModel();
    @Html.Partial("_PostComment", PostsViewModel)
    @Html.AntiForgeryToken()
}

<!--SEO Scripts-->
<!--Google Analytics-->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-73062237-1', 'auto');
    ga('send', 'pageview');

</script>
    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
